@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  background-color: black;
}

.navbar-dark .navbar-brand {
  font-family: "Oregano", cursive !important;
  color: red;
  font-weight: 900;
  font-size: 2em;
}

.cart-items {
  height: 300px;
  overflow: scroll;
}

.grey-box {
  float: left;
  margin: 2px;
  width: 200px;
  height: 200px;
}

#cart-thumb img {
  height: 100px;
}

.cart {
  margin: 0 20px;
  font-size: 25px;
  color: white;
}

#book-container {
  display: flex;
  margin: 0 auto;

  #store {
    width: 100%;
    &.flex {
      display: flex;
      flex-flow: row wrap;
    }

    .card {
      width: 300px;
      margin: 5px;
    }

    .table {
      margin: 10px;
      width: 80%;
      margin: 0 auto;
    }
  }
}

// #cart-stuff {
//   position: absolute;
//   top: 215px;
//   left: 510px;
// }

.sale-badge {
  margin-bottom: 5px;
}
